details[open] summary ~ *{
    animation: open 1s ease-in-out;
}

@keyframes open
{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

details summary ::after{
    color: black;
    position: absolute;
    font-size: 1.75rem;
    line-height: 0;
    margin-top: 0.75rem;
    right: 0;
    font-weight: 200;
    transform-origin: center;
    transition: 200ms linear;
}
	
summary::-webkit-details-marker {
    display: none;
}
