@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

b{
    font-family: 'Inter', sans-serif;
}
p{
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-family: 'Quicksand', sans-serif;
}
h2{
    font-family: 'Quicksand', sans-serif;
}
h3{
    font-family: 'Quicksand', sans-serif;
}
h4{
    font-family: 'Quicksand', sans-serif;
}
h5{
    font-family: 'Quicksand', sans-serif;
}

body{
    display: grid;
}


.contenedor{
    background:rgb(255, 255, 255);  
    padding: 1em; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-template-areas:"info-card info-card info-card info-card"
                         " vision      vision   vision    vision"
                         "objetivo   objetivo  Experiencia Experiencia"
                         "educacion educacion  Experiencia Experiencia"
                         "educacion educacion     premios    premios "
                         "skills     skills       avatar   avatar"
                         "hobbies  hobbies        avatar      avatar" ;

}

.info-card{
    display: grid;
    grid-area: info-card;
    background: white;
}


.name{
    display: inline-block;
    margin: 1em;
    font-size: 1em;
    text-align: center;
}

.info-direc{
    display: inline-block;
    margin: 1em;
    font-size: 1em;
    text-align: center;
}
.info-tel{
    display: inline-block;
    margin: 1em;
    font-size: 1em;
    text-align: center;

}
.info-email{
    display: inline-block;
    margin: 1em;
    font-size: 1em;
    text-align: center;

}



.vision{
    background: rgb(0, 0, 0);
    grid-area: vision;
    display: grid;
    color: white;

}

.vision-text{
    
    color: white;
    font-size: 1.2em;
    width: auto;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    
}

.objetivo{
    grid-area: objetivo;
    background:rgb(254, 254, 254);
    padding: 2em;
}

.Experiencia{

    background: rgb(255, 255, 255);
    display: grid;
    grid-gap: 1.6em;
    grid-area: Experiencia;
    grid-template-areas: " title "
                         " XP-desc-1 "
                         " XP-desc-2 "
                         " XP-desc-3 "
                         " XP-desc-4 ";
    padding: 1.5em;
    font-size: 1em;
}


.XP-desc-1{grid-area: XP-desc-1;}

.XP-desc-2{grid-area: XP-desc-2;}

.XP-desc-3{grid-area: XP-desc-3;}

.XP-desc-4{grid-area: XP-desc-4;}


.educacion{
    background: rgb(255, 255, 255);
    display: grid;
    grid-gap: 20px;
    grid-area: educacion;
}
.educacion{
    padding: 2em;
}
.educacion-card{
    
    padding: .5em;
}

.premios{
    background: rgb(255, 255, 255);
    grid-area: premios;
}
.premios{
    padding: 2em;
}

.skills{
    grid-area: skills;
    font-size: 1.1em;
    background: rgb(255, 255, 255);
}
.skills{
    padding: 2em;
}
.skills-card{
    padding: .5em;
}

.avatar{
    grid-area: avatar;
    background:rgb(255, 255, 255);
    display: grid;
    text-align: center;
}
.avatar{
    padding: 2em;
}

.avatar-card{
    margin: 10%;
    padding: 2em;
    line-height: 2em;
}

.avatar img{
  border-radius: 100%;
  width: 24em;
}

.hobbies{
    grid-area: hobbies;
    background: rgb(255, 255, 255);
    
    
}
.hobbies{
    padding: 1em;
    display: grid;
    grid-template-areas:            "hobbies-title "
                             "hobbies-container-imageA "  ;

}
.hobbies-title{
    grid-area: hobbies-title;
    padding: 1em;
}
.hobbies-container-imageA{
    grid-area: hobbies-container-imageA;
    display: grid;
    padding: 1em;
   }


