@media only screen and (max-width: 1000px) {
	.contenedor {
		display: grid;
		grid-template-columns: auto;
		grid-gap: 10px;
		grid-template-rows: auto;
		grid-template-areas:"info-card"
							"vision"
							"objetivo"
							"Experiencia"
							"educacion"
							"premios"
							"skills"
							"hobbies"
							"avatar";

	}
}



@media only screen and (max-width: 880px) {
   .englis-card{
	  
	   grid-area: englis-card;
   }

	.info-card{
		grid-area: info-card;
	}
	.vision{
		grid-area:vision;
	}
	.objetivo{
		grid-area: objetivo;
		background:rgb(250, 250, 250);

	}
	.Experiencia{
		grid-area: Experiencia;
	}
	.educacion{
		grid-area:educacion;
	}
	.premios{
		grid-area: premios;
	}
	.skills{
		grid-area:skills;
	}
	.hobbies{
		grid-area: hobbies;
	}
	.avatar{
		grid-area: avatar;
		background:rgb(255, 255, 255);
	}
}

@media only screen and (max-width: 880px) {



	.Experiencia{

		background: rgb(255, 255, 255);
		display: grid;
		padding: 2.5em;
		grid-gap: 1.5em;
		grid-area: Experiencia;
		grid-template-columns: auto;
		grid-template-areas: " title    "
							 "XP-desc-1 "
							 "XP-desc-2 "
							 "XP-desc-3 "
							 "XP-desc-4 ";
	}
}
