.vision-container{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

video{
    width: 100%;
}

.vision-text{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    padding: 2em;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center ;
    background: rgba(0, 0, 0, 0.734);
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.604);
}